<!DOCTYPE html>
<html>
<head>
    <title>提示</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">

    <link rel="stylesheet" href="lib/weui.min.css">
    <link rel="stylesheet" href="css/jquery-weui.css">
    <link rel="stylesheet" href="css/demos.css">

</head>

<body ontouchstart>

<div class="weui-msg">
    <div class="weui-msg__icon-area"><i class="weui-icon-warn weui-icon_msg"></i></div>
    <div class="weui-msg__text-area">
        <h2 class="weui-msg__title">该账号已被绑定</h2>
        <h3 id="mes">5秒后关闭当前页</h3>
    </div>
    <div class="weui-msg__extra-area">
        <div class="weui-footer">
            <p class="weui-footer__text">Copyright © 2021-2022 金服信息</p>
        </div>
    </div>
</div>

<script src="lib/jquery-2.1.4.js"></script>
<script src="lib/fastclick.js"></script>
<script>
    $(function() {
        FastClick.attach(document.body);
    });
    $(function() {
        FastClick.attach(document.body);
    });
    var i = 4;
    var intervalid;
    intervalid = setInterval("fun()", 1000);
    function fun() {
        if (i == 0) {
            WeixinJSBridge.call('closeWindow');//关闭当前页
            clearInterval(intervalid);
        }
        document.getElementById("mes").innerHTML = i+"秒后关闭当前页";
        i--;
    }
</script>
<script src="js/jquery-weui.js"></script>


</script>
</body>
</html>
