<!DOCTYPE html>
<html>
  <head>
    <strong><title>金服信息</title></strong>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

<link rel="stylesheet" href="lib/weui.min.css">
<link rel="stylesheet" href="css/jquery-weui.css">
<link rel="stylesheet" href="css/demos.css">
<link rel="stylesheet" href="css/weui.css"/>
<link rel="stylesheet" href="css/weuix.css"/>

	<style>
      .weui-label {
        width: 70px;
      }
      
       html{
                height: 100%;
            }

			.weui-grid__icon{ width: 48px; height: 48px; margin: 0 auto; }
			h1{font-size:28px;/*字体大小18px*/color:#000;/*字体颜色黑色*/}
			.weui-grids{
				opacity:1;}
			#logo{opacity:0;}
    </style>


  </head>

  <body>
    <header class='demos-header'>
      <h1 align="center">欢迎使用金服信息</h1>
    </header>
   <div class="weui-grids" >

    

    
    <a href="weixinAutoLogin?pageID=2" class="weui-grid js_grid"  >
        <div class="weui-grid__icon">
            <img src="../images/addMember.png" alt="">
        </div>
        <p class="weui-grid__label">
           	排班信息
    	</p>
    </a>

       <a href="weixinAutoLogin?pageID=1" class="weui-grid js_grid"  >
           <div class="weui-grid__icon">
               <img src="../images/bindPhone.png" alt="">
           </div>
           <p class="weui-grid__label">
               绑定手机
           </p>
       </a>


        <a href="javascript:;" class="weui-grid js_grid" id="logo" >
        <div class="weui-grid__icon">
            <img src="../images/about.png" alt="">
        </div>
        <p class="weui-grid__label">
           	关于
   		</p>
    </a>
  </body>
        
    <script src="lib/jquery-2.1.4.js"></script>
<script src="lib/fastclick.js"></script>
<script src="lib/exif.js"></script>
    <script src="js/zepto.min.js"></script>
    <script src="js/zepto.weui.js"></script>
<script>
  
</script>
<script src="js/jquery-weui.js"></script>

</html>
