### gradle ###
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.settings/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
bin/

### IntelliJ IDEA ###
.idea
/.idea/
/private/
/storage/
/zone-sync.iml
.checkstyle
.idea
*.iws
*.iml
*.ipr
rebel.xml
zone-sync.iml
### maven ###
target/
src/test
*.war
*.ear
*.zip
*.tar
*.tar.gz

### logs ####
/logs/
*.log

