<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcxd.db.mapper.BoxpackTaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zcxd.db.model.BoxpackTask">
        <id column="id" property="id" />
        <result column="task_no" property="taskNo" />
        <result column="bank_id" property="bankId" />
        <result column="task_type" property="taskType" />
        <result column="task_date" property="taskDate" />
        <result column="comments" property="comments" />
        <result column="line_id" property="lineId" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="box_list" property="boxList" />
        <result column="status_t" property="statusT" />
        <result column="check_result" property="checkResult" />
        <result column="check_user" property="checkUser" />
        <result column="check_time" property="checkTime" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

</mapper>
