<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcxd.db.mapper.TradeClearChargeRuleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zcxd.db.model.TradeClearChargeRule">
        <id column="id" property="id" />
        <result column="department_id" property="departmentId" />
        <result column="bank_id" property="bankId" />
        <result column="gb_flag" property="gbFlag" />
        <result column="denom" property="denom" />
        <result column="attr" property="attr" />
        <result column="price" property="price" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
        <result column="deleted" property="deleted" />
    </resultMap>

</mapper>
